@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto+Mono:wght@100..700&family=Outfit:wght@300..900&display=swap");
@import "tailwindcss";
@import "../../vendor/livewire/flux/dist/flux.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-heading: "Montserrat";
    --font-sans: "Montserrat";
    --font-mono: "Roboto Mono";

    --color-primary: #1d4ed8;
    --color-secondary: #6366f1;
    --color-accent: #eab308;
    --color-dark: #0f172a;
}

[x-cloak] {
    display: none !important;
}

@layer utilities {
    .theme-event {
        --font-heading: "Outfit";
        --font-sans: "Outfit";
        --font-mono: "Roboto Mono";

        --color-primary: #1d4ed8;
        --color-secondary: #6366f1;
        --color-accent: #eab308;
        --color-dark: #0f172a;

        font-family: var(--font-sans);
    }
}
